*{
  margin: 0;
  padding: 0;
  font-family: 'popins';
}
.sectionLogin{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background:url('../../imag/fondo-herramientas-peluqueria-peine-tijeras-mesa-realista_1284-33281.jpg') no-repeat;
  background-position: center;
  background-size: cover;
}

.form-box{
  position: relative;
  width: 400px;
  height: 450px;
  background: transparent;
  border:4px solid rgba(7, 7, 7, 0.5);
  border-radius: 20px;
  backdrop-filter: blur (15px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -50%;
  margin-top: -7%;

}

.login{
  font-size: 2em;
  color: rgb(192, 23, 23);
  font-weight: bold;
  text-align: center;
  letter-spacing: 3px;
  padding: 5%;
}
.inputbox{
  position: relative;
  margin: 30px 0;
  width: 310px;
  border-bottom: 2px solid black;
}
.inputbox label{
  position: absolute;
  top:50%;
  left:5px;
  transform: translateY(-50%);
  color:black;
  font-size: 1.2em;
  pointer-events: none;
}
input:focus ~ label,
input:valid ~ label{
top: -5px;
}
.inputbox input{
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  padding: 0 35px 0 5px;
  color:black;
}
.inputbox ion-icon{
  position: absolute;
  right: 8px;
  color: black;
  font-size: 1.2em;
  top: 20px;
}
.iniciar-sesion{
  width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}
.register{
  font-size: 1em;
  color: #fff;
  text-align: center;
  margin: 25px 0 10px;
}
.register p a{
  text-decoration: none;
  color:black;
  font-weight: 600;
}
.register p a:hover{
  text-decoration: underline;
}