.sectionAbout {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.contenedorAbout {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.imagenAbout {
  width: 400px;
  height: 400px;
  object-fit: cover;
  margin-right: 50px;
}

.box-1 {
  width: 50%;
}

.titulo {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.txt {
  font-size: 1.2em;
  line-height: 1.5;
}

/* Definimos los estilos para pantallas más pequeñas */
@media only screen and (max-width: 768px) {
  .contenedorAbout {
    flex-direction: column;
  }

  .imagenAbout {
    width: 100%;
    height: auto;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .box-1 {
    width: 100%;
  }
}
