.sectionServicios{
    background-color: white;
    color: black;
    width: 100%;
    padding: 90px;
}

.tituloServicios{
    font-size: 50px;
    color: black;
}
.imagenServicios{
  width: 500px;
  height: 400px;
  float: right;
  margin-right: -60px;
}
.box-1-servicios{
    margin-right: 500px;   
}
.buttonServicios{
  float:left;
  margin-top: 20px;
  border-radius: 5px;
  background-color: white;
  margin-left: 20%;
  padding: 5px;
  text-decoration: none;
  cursor: pointer;
}
.linkPrices{
  text-decoration: none;
  color: black;
  font-size: 25px;
}
.linkPrices:hover{
  color: black;
  text-decoration: none;
}

/* ------------------------------ */
.accordion .item{
  border: 0;
  border-radius: 0;
  padding: 1.5rem 0.5rem;
}
.accordion:last-child .item{
  border-top:1px solid; 
}

.accordion .item .accordion-header button{
  background-color: transparent;
  box-shadow: none;
  font-size: 1rem;
  letter-spacing: .125rem;
  line-height: 1.375rem;
  color: rgb(207, 39, 39);
  font-weight: 700;
  vertical-align: middle;
 /*  position: relative; */
  padding-bottom: 0;
  padding-top: 0;
}
.accordion .item .accordion-header button::after{
  transition: all .6s ease;
}
.accordion .item .accordion-body{
  width: 80%;
  height: 100%;
}
.accordion .item .accordion-collapse{
  transition: all .4s ease;
}