html{
  scroll-behavior: smooth;
}

.nav-container{
  position: sticky;
  z-index:3;
  top:0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  height: 15vh;
  background-color: black;
}

.navbar-logo{
 /*  justify-self: start; */
  margin-left: 20px;
  color: white;
  font-size: 35px;
  margin-top:-10px;
  cursor: pointer;
  font-family: 'Crafty Girls','Gloria Hallelujah','Shadows Into Light', sans-serif;
  text-decoration: none;
}
a{
  text-decoration: none;
}

.navbar-logo2{
  /* justify-self: start; */
  border-radius: 103px 0px 59px 0px;
  -webkit-border-radius: 103px 0px 59px 0px;
  -moz-border-radius: 103px 0px 59px 0px;
  color: black;
  font-size: 15px;
  background-color: white;
  padding: 10px;
  height: 30px;
  width: 10rem;
  margin-left: 40px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}
a:hover{
  color:white;
  text-decoration: none;
}
.seeCarrito{
  font-size: 25px;
  margin-right: 20px;
  margin-top: 4vh;
  cursor: pointer;
  text-decoration: none;
}

.numero-compras{
  font-size: 15px;
}

.link-container{
  margin-top: 30px;
  margin-left: 40rem;
}

.about, .contacto, .loginUser, .maps{
  text-decoration: none;
  cursor: pointer;
  font-size: 25px;
  margin-right: 15px;
  color: white;
}

.inicio{
  margin-left: 35rem;
}
.instagram, .whatsapp{
  text-decoration: none; 
  font-size: 25px;
  padding: 5px;
}
.instagram:hover{
  text-decoration: none;
  color:rgb(184, 30, 114);
}
.whatsapp:hover{
  text-decoration: none;
  color:green;
}
.whatsapp{
  color:green;
}
.instagram{
  color:rgb(184, 30, 114);
}
