h3{
  text-align: center;
  font-size: 20px;
  margin: 0;
  padding-top: 10px;
}

/* .gallery{
  display: flex;
  flex-wrap: wrap;
  width: 80%; 
  justify-content: center;
  align-items: center;
  margin: 70px 0; 
} */


.gallery{
  display:grid;
  gap:1vw;
  width: 90%;
  grid-auto-rows: 22rem;
  grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
}


.content{
  margin: 15px;
  box-sizing: border-box;
  float: left;
  text-align: center;
  border-radius: 20px;
  padding-top: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transition: .4s;
  background: white;
}

.content:hover{
  box-shadow:  0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transform: translate(0px, -8px);
}
.productsImg{
  width: 100px; /* 200 */
  height: 200px;
  text-align: center;
  margin: 0 auto;
  display: block;
}
h5{
  font-size: 26px;
  text-align: center;
  color:#222f3e;
  margin:0;
}
.buy{
  text-align: center;
  font-size: 24px;
  color: white;
  width: 100%;
  padding: 15px;
  border: 0;
  outline: none;
  cursor: pointer;
  margin-top: 5px;
  border-bottom-right-radius:20px;
  border-bottom-left-radius:20px;
  background-color: rgb(86, 86, 212)
}
